body{
    margin: 0px;
    padding:0px;
  overflow: hidden;
  background: linear-gradient(135deg, #E3ecFF, #F8FbFF);
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav{
    height:30px;
    background: #758ac3;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav_link{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}

.nav_link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.4s ease;
}

.nav_link:hover::after{
    width: 100%;
}
.nav_link:focus::after,
.nav_link.active::after{
    width: 100%;
}

#book_icon{
  color: black;
  font-size: 30px;
}

select{
  height:30px;
  width:70px;
  background-color: transparent;
  color: white;
  border:none;
  border-radius: 6px;
}

.dash{
  position: absolute;
  left: 100px;
  top:100px;
}

.card{
  position: relative;
  top:160px;
  left:110px;
  display: flex;
  gap: 40px;
  align-items: center;
  height: auto;
  width: 800px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  border:1px solid #e5e7eb;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom-right-radius: 90px;
}

.img1{
  height:50px;
  width:50px;
  left:50px;
  position:relative;
  bottom: 25px;
}
.img2{
  height:41px;
  width:41px;
  position:relative;
  bottom: 26px;
  left:80px;
}
.img3{
  height:60px;
  width:60px;
  position:relative;
  left:110px;
  bottom: 24px;
}

.head1{
  position: relative;
  bottom: 30px;
}
.head2{
  position: relative;
  left:40px;
  bottom: 25px;
  font-size: 16px;
}
.head3{
  position: relative;
  left:90px;
  bottom: 35px;
  font-size: 16px;
}

.div1{
  position: relative;
  top:30px;
  right:450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 57, 173);
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}
.div2{
  position: relative;
  top:30px;
  right:285px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 0, 0);
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}
.div3{
  position: relative;
  top:30px;
  right:160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 227, 0);
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}

.images{
 margin-left: 800px;
 position: relative;
 bottom: 100px;
}

.card0{
    height:150px;
    width:1200px;
    background-color:#ffffff;
    position: relative;
    left:110px;
    bottom: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: flex;
   flex-direction: row;

}

.quick{
  font-size: 27px;
  padding:20px;
}

.card0 .an{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:80px;
  position: relative;
  top:10px;
  color: black;
  text-decoration: none;
   background: rgba(32, 5, 5, 0.15);
  backdrop-filter: blur(50px);
  padding: 10px 15px; 
  margin: 15px 20px;
  border-radius: 8px;
}

.a1{
  position: relative;
  right:10px;
  height:40px;
  width:40px;
  border-radius: 50%;
}

.logout{
  height:30px;
  width:80px;
  border-radius: 6px;
  border: none;
  border: 1px solid black;
}

#log{
  position: relative;
  left:7px;
}