
*{
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: plum;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(img/rohit.png);
}


form{
   
    width:450px;
    background-color:rgba(255, 255, 2555, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
     padding:3px;
    }

 h1{
    font-size:40px;
    text-align: center;
    margin-bottom: 20px;
    font-family:cambria;
    
}



.input-page{
    margin:10px;
    height:40px;
    width:370px;
    border: none;
    outline: none;
    border:2px solid black;
    border-radius:40px;
    background:transparent;
   margin-left:40px;
    padding-left: 20px;
    color: white;
    box-sizing: border-box;}

 ::placeholder{
        color:white;
        font-size: 15px;
        font-family:century gothic;}


  i{
   position: absolute;
   right:50px;
   top:50%;
   transform: translate(-50%);} 

.warp{
    position:relative;}


#forget{
    display: flex;
    justify-content: space-between;
    margin:15px 0 15px;
}

#forget{
    justify-content: space-between;

}


#lbl{
    margin-bottom: 10px;
}


button{
    height:40px;
    width:80%;
    background-color:white;
    
    border: 2px solid black;
    border-radius: 40px;
    font-family: century gothic;
    letter-spacing: 2px;
    font-weight:bold;
    font-size:18px;
    margin-left:50px;}

    .register{
        text-align: center;
        font-family:helvetica;
        font-size:13px;
        letter-spacing: 2px;
        
    }

    a{
        text-decoration: none;
        color:black;
    }

    .input-page:focus{
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
        transition: 1s;
        background-color:rgba(0,0,0,0.2);}

placeholder:hover{
    text-size:5px;
}


=======
*{
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: plum;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(img/rohit.png);
}


form{
   
    width:450px;
    background-color:rgba(255, 255, 2555, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
     padding:3px;
    }

 h1{
    font-size:40px;
    text-align: center;
    margin-bottom: 20px;
    font-family:cambria;
    
}



.input-page{
    margin:10px;
    height:40px;
    width:370px;
    border: none;
    outline: none;
    border:2px solid black;
    border-radius:40px;
    background:transparent;
   margin-left:40px;
    padding-left: 20px;
    color: white;
    box-sizing: border-box;}

 ::placeholder{
        color:white;
        font-size: 15px;
        font-family:century gothic;}


  i{
   position: absolute;
   right:50px;
   top:50%;
   transform: translate(-50%);} 

.warp{
    position:relative;}


#forget{
    display: flex;
    justify-content: space-between;
    margin:15px 0 15px;
}

#forget{
    justify-content: space-between;

}


#lbl{
    margin-bottom: 10px;
}


button{
    height:40px;
    width:80%;
    background-color:white;
    
    border: 2px solid black;
    border-radius: 40px;
    font-family: century gothic;
    letter-spacing: 2px;
    font-weight:bold;
    font-size:18px;
    margin-left:50px;}

    .register{
        text-align: center;
        font-family:helvetica;
        font-size:13px;
        letter-spacing: 2px;
        
    }

    a{
        text-decoration: none;
        color:black;
    }

    .input-page:focus{
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
        transition: 1s;
        background-color:rgba(0,0,0,0.2);}

placeholder:hover{
    text-size:5px;
}


======= cc6bfa0d456e05ea558fee75dfe39892a7e1f014
    